#judul {
    text-align: center;
    color: rgb(255, 0, 230);
}

.sub-judul {
    text-align: center;
    color: aqua;
    /* background-color: rgb(3, 171, 171); */
    background: linear-gradient(to bottom, rgb(3, 171, 171), rgb(183, 0, 255));
}

/* CSS selectors untuk mengatur konten */
.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
}

.header {
    align-self: flex-start;
}

/* CSS selectors untuk mengatur tabel */
.styled-table {
    border: dotted;
    width: 300px;
    text-align: center;
    margin: 0 auto;
}

.styled-table tr td {
    padding: 5px;
}